@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
}

h1 {
    color: #000000;
    font-family: 'VT323', monospace;
    font-size: 4em;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
}

#titre {
    font-family: 'VT323', monospace;
    font-size: 4em;
    white-space: nowrap;
    margin-bottom: 25px;
    margin-top: 25px;
}

#game {
    width: 1200px;
    height: 600px;
    box-shadow: 1px 1pc 10px -5px rgba($color: #000000, $alpha: 0.5);
    // cursor: none;
}

#colorsChoice {
    top: 25px;
    left: 600px;
    position: fixed;
    width: 250px;
    margin-right: 250px;


    div {
        // background-color: #ff5a5f;
        height: 20px;
        width: 20px;
        border-radius: 50%;

        display: inline-block;
        margin-left: 10px;

        border: 1px solid transparent;
        transition: all .3s;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-color: #aaaaaa;

        &:hover {
            border-color: #000000;
        }
    }
}

#cursor {
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: #000000 solid;
    // cursor: none;
}

@media(min-width: 700px) {
    #colorsChoice {
        top: 160px;
        left: 1200px;
        position: absolute;
    }

    #colorsChoice div {
        display: block;
    }
}

#cadenas {
    position: fixed;
    width: 100%;
    // left: 50%;
    top: 10%;
    color: gold;
    font-size: 100px;
    display: none;
    justify-content: space-evenly;
}